
.dash{
    width: 50vw;
    height: 60%;
    flex-wrap: wrap;
    div{
        height: 17vh;
        width: 22vw;
        cursor: pointer;
        transition: transform 1s, background-color 1s;
    }
    div:hover {
        transform: scale(1.07);
        background-color: rgb(146, 146, 146);
    }
}
footer{
    background-color: green;
    height: 10vh;
}